<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SMTPAppender" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="SMTPAppender" type="log4net.Appender.SmtpAppender">
      <to value="cuksupport@geeconglobal.com" />
      <from value="cukapps@gmail.com" />
      <subject value="DWHSync from live" />
      <smtpHost value="smtp.gmail.com" />
      <port value="587" />
      <authentication value="Basic" />
      <username value="cukapps@gmail.com" />
      <password value="amse xfpk kjjf oque" />
      <EnableSsl value="true" />
      <bufferSize value="1" />
      <lossy value="false" />
      <threshold value="ERROR" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message            %newlineLogger: %logger%newlineThread: %thread%newlineDate:            %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
      <!--<filter type="Kentor.Log4NetExtensions.BurstFilter,Kentor.Log4NetExtensions.BurstFilter">-->
      <!-- Allow two mails a minute on average, with bursts up to 20 mails -->
      <!--<BurstLength value="00:10:00"/>
        <BurstSize value="20"/>
      </filter>-->
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="E:\Log\DWHSync\DWHSync.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
          <binding name="BasicHttpBinding_IRateChangeServices" />
          <binding name="BasicHttpsBinding_IRateChangeServices">
            <security mode="Transport" />
          </binding>
        </basicHttpBinding>
        <customBinding>
          <binding name="RightNowSyncBinding">
            <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false">
              <localClientSettings detectReplays="false" />
              <localServiceSettings detectReplays="false" />
            </security>
            <textMessageEncoding messageVersion="Soap11" />
            <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
          </binding>
        </customBinding>
      </bindings>
      <client>
        <endpoint address="https://my.compassionuk.org/services/soap/connect/soap" binding="customBinding" bindingConfiguration="RightNowSyncBinding" contract="RightNowService.RightNowSyncPort" name="RightNowSyncPort" />
        <endpoint address="http://localhost/RateChangeService/RateChangeServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRateChangeServices" contract="RateChangeService.IRateChangeServices" name="BasicHttpBinding_IRateChangeServices" />
      </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 </configuration>
